<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158071847746-o6kfqdpaeq6lcbq3mv4t57sdvvh1edfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158071847746-o6kfqdpaeq6lcbq3mv4t57sdvvh1edfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAnTcDJmtNWnilu9AV5kREiM2oWV9UU5tc</string>
	<key>GCM_SENDER_ID</key>
	<string>158071847746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caric.Shat-App</string>
	<key>PROJECT_ID</key>
	<string>shat-app-892ae</string>
	<key>STORAGE_BUCKET</key>
	<string>shat-app-892ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158071847746:ios:990295dbadf12749cde6db</string>
	<key>DATABASE_URL</key>
	<string>https://shat-app-892ae.firebaseio.com</string>
</dict>
</plist>